
    h1 {
        font-size: 2.5rem;
        color: rgba rgb(9, 1, 0.5), rgb(0, 7, 0.5), rgb(0, 0, 10), ;
        background-color: turquoise;
    }


    p {
        font-size: 1.2rem;
        color: yellowgreen;
    }